<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="table.css">
    <title>Logs</title>
</head>

<body>
    <table class="table">
        <caption>Lista completa de usuários do sistema</caption>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Curso</th>
        </tr>
        {{#each field}}
        <tr>
            <td>{{name}} </td>
            <td>{{email}}</td>
            <td>{{curso}} </td>
        </tr>
        {{/each}}
    </table>
</body>

</html>