@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

body {
    background-color: #ececec;
}

.header {
    background-color: #111133;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
    font-weight: 700;
}

.span-code {
    color: #ff6004;
}

.logo a {
    text-decoration: none;
    color: #f0f0f0;
}

.navBar {
    list-style: none;
    display: flex;
    gap: 22px;
    font-weight: 500;
}

.navBar a {
    text-decoration: none;
    color: #f0f0f0;
    align-items: center;
}

a:hover {
    color: #afafaf;
    transition: .3s ease-in-out;
    text-decoration: underline #ff6004;
}

.card-form {
    border: 1px solid;
    width: 35%;
    margin: 2rem auto;
    padding: 2.5rem;
    background-color: #111133;
    color: #f0f0f0;
    border-radius: 10px;
}

input {
    padding: .6rem 2rem;
    border-radius: 10px;
    border: none;
    display: block;
    width: 100%;
    margin: 1rem 0;
}

.btn {
    text-align: center;
}

button {
    padding: .8rem;
    border-radius: 10px;
    color: #f0f0f0;
    background-color: #1f1f3d;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-color: #f0f0f0;
}

button:hover {
    background-color: #ff6004;
    transition: .3s;
}

.footer {
    display: flex;
    padding: 2rem 4rem;
    margin-top: 3rem;
    justify-content: space-between;
    background-color: #111133;
    color: #f0f0f0;
    align-items: center;
    text-align: justify;
}

.footer ul {
    list-style: none;
    display: flex;
}

.cont1,
.cont3 {

    padding: 0 3rem;
    justify-content: center;
    text-align: center;
}

.footer ul li {
    margin: 12px 0 0 12px;
    text-align: center;
}

.haste {
    width: 2px;
    height: 90px;
    background-color: #f0f0f0;
    margin: 0 12px 0 12px;
}

@media screen and (max-width: 860px) {

    .header {
        justify-content: center;
        flex-direction: column;
    }

    .header h1 a {
        font-size: 22px;
    }

    .header ul a {
        font-size: 14px;
    }

    .footer {
        flex-direction: column;
    }

    .haste {
        width: 180px;
        height: 1px;
        margin: 12px 12px;
    }

    .cont2 {
        text-align: center;
    }

    .cards {
        flex-direction: column;
    }

    .card1 {
        flex-direction: column-reverse;
    }

    .card-form {
        width: 70%;
    }

    button {
        padding: .5rem;
        font-size: 13px;
    }

}

@media screen and (max-width: 1040px) {

    .form {
        padding: 2rem 0;
        width: 90%;
    }

    .form-types {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}