.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
}

.section-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

@media screen and (max-width: 860px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1rem .8rem;
        gap: 12px;
    }
}