.main-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    margin-top: 4rem;
}

.title-section {
    text-align: center;
    margin-top: 4rem;
}

.container {
    padding: 3rem 8rem;
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

.autor-text {
    font-weight: 500;
}

.perfil {
    display: flex;
    align-items: center;
    border: 4px solid #c7c4c4;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 8px;
}

.img-card {
    width: 100%;
    text-align: center;
}

.img-card img {
    width: 50%;
}

@media screen and (max-width:760px) {
    .perfil {
        flex-direction: column;
        text-align: center;
    }

    .container {
        padding: 1rem 1rem;
    }

}

@media screen and (max-width:560px) {

    .perfil .img-card {
        display: none;
    }

    figcaption {
        display: block;
    }
}